*{
    cursor:default;
}
.buttonNormal {
  margin: 35px auto;
  padding: 10px;
  border: 2px solid rgb(90,140,140);
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  position: relative;
  transform: translateX(80px);
}
.buttonNormal:hover{
    background: rgb(174, 203, 203);
}



.toggleButton {
background-color: #1F2833;
margin: 0 auto;
}





.buttonNormal :hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.buttonNormal :focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}



ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}


.question-list-container{
  width: 100%;
  max-width: 600px;
  padding: 0px;

  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(81, 106, 106);
}

.question-tab{


  display: flex;
  flex-direction: column;


}






.question-item-container {
  width: 100%;
  max-width: 590px;
  padding: 0px;
  margin: 0 auto;
  border: 4px solid rgb(90,140,140);
  border-radius: 3px;
  cursor: pointer;
}
.question-item-upper{
  margin: 0px auto;
  border: 0px;
  padding: 20px;
  background-color: rgb(81, 136, 136);
  border-bottom: 5px solid rgb(30,80,80);
  font-weight: bold;
}


.question-lower{
  display:flex;
  flex-direction: row;
    background-color: rgb(174, 203, 203);
}
.avatar{

  height: 100px;
  border-bottom: 4px solid rgb(50,100,100);
  border-radius: 25px;
  margin: 10px 40px 10px 40px;
  display: flex;
  align-self: center;
}





.question-poll{
  width: 100%;
  padding: 20px 20px 0px 20px;
  display:flex;
  flex-direction: column;
  background-color: rgb(223, 235, 235);
}
.question-poll h3,h4 {
  border: 0px auto;
  margin: 0px;
  height:50px;
}
.question-poll h4{
  font-size: 90%;
}
.question-poll button{
  margin: 20px 20px;
}


.question-poll-options{
  display: flex;
  flex-direction: column;
}
.question-poll-unanswered {
  display:flex;
  flex-direction: column;
  width:64px;
}


.toggleButton-unanswered{
background-color: #1F2833;
margin:0px ;
width: 64px;
}

.progress{
height: 30px;
font-weight: bold;
border-radius: 20px;
}

.poll-result{
  background-color: rgb(159, 176, 187);
  border: 2px solid rgba(0,0,0,.29);
  border-radius: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px; 

  height: 160px;
}
.colored{
background-color: rgb(255, 207, 64);
}
.poll-result-votes{
  padding-top: 10px;
  margin: 0px;
  text-align: center;
  font-weight: bold;
}

.fit-text{
  height: 80px;
  margin: 0px;
display: flex;
text-align: center;
flex-direction: column;
justify-content: center;
}
.your-vote{
  width: 40px;
  margin: 0px auto;
  background-color: rgb(225, 150, 34);
  border-radius:30px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  transform: translateX(160px) translateY(20px);
}
.container2{
  width: 100%;
  background-color: rgb(223, 235, 235);

  padding: 10px 20px 10px 20px;
}


.nav{
  border: 0px solid black;
}
.nav-item.nav-link.active{
  font-size: 20px;
  color: white;
  background-color: rgb(81, 106, 106);
  border: 0px;
}
.nav-item.nav-link.active:hover{
  cursor:default;
  background-color: rgb(81, 106, 106);
  border: 0px solid rgb(81, 136, 136);
}

.nav-item.nav-link:hover{
  color:white;
  cursor:pointer;
  background-color: rgb(90,140,140);
  border: 0px solid rgb(81, 136, 136);
}

.nav-item.nav-link{
    color:white;
  background-color: rgb(131, 186, 186);
  border: 0px;
}

.nav.nav-tabs{
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}
.nav.nav-tabs a{

  font-weight: bold;
  width: 290px
}

.nav.nav-tabs :focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.new-question-lower{
  padding: 10px 20px 0px 20px;
  font-weight: bold;
    background-color: rgb(223, 235, 235);
}
.new-question-lower h6,h3{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.navbar-collapse a{
  display: flex;
  flex-direction: row;
  align-content: center;

}
.navigation-bar{
  min-width: 677px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    background-color: rgb(223, 235, 235);
    border-bottom: 4px solid rgb(131, 186, 186);

}
.navigation-bar-nav{
  display: flex;
  flex-grow: 1;
  margin: 10px;
  justify-content: space-between;

  vertical-align: middle;
}
.navigation-bar-nav a{
  font-weight: bold;
  margin: 10px;
  vertical-align: middle;
}
.navigation-bar-nav a:hover{
  color: red;
  cursor:pointer;
}

.navigation-bar-nav-links{
  display: flex;
  flex-grow: 1;
  
}

.leaderboard-item-container {
  width: 100%;
  max-width: 590px;
  padding: 0px;
  margin: 0 auto;
  border: 4px solid rgb(90,140,140);
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(174, 203, 203);
  font-weight: bold;
}
.leaderboard-lower{
  display:flex;
  flex-direction: row;
}
.leaderboard-middle{
    padding-top: 20px;
}
.leaderboard-right{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;

}
.score{
  font-weight: bold;
  padding: 15px;
  background-color: rgb(223, 235, 235);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#dropdown-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  margin: 0 auto;
}
.dropdown-menu,.show{
    width: 580px;
}

.login-alert{
  padding-top: 20px
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
@import '~bootstrap/dist/css/bootstrap.min.css';
